@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', 'Trebuchet MS', sans-serif;
}

.text-gold {
  color: #facc15;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
